<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    
    <div class="about-design font-class mb-5">
        <h3>ABOUT AUTO PLATES DIRECT</h3>
    </div>
    <div class="container">
        <div class="col col-12">
            <div class="col-12 font-class bg-danger text-white p-2 mb-5 about">
                <h3>ABOUT US</h3>
            </div>
            <div class="general-about">
                <h4 class="col-12">
                    ABOUT AUTO PLATES
                </h4>
                <p class="col-12">
                    We supply a full range of show plates and our products are made with the best materials and to the
                    very highest standards. Orders are dispatched the same day and delivered to your door as quickly as
                    possible.
                </p>
            </div>
            <div class="general-about">
                <h4 class="col-12">
                    MORE ABOUT OUR PRODUCTS
                </h4>
                <p class="col-12">
                    Show plates are number plates used for show purposes (for example motor shows, classic car events,
                    weddings and photoshoots) and do not necessarily comply with the laws and regulations that govern
                    number plates for road use. Why not make your car or motorbike that little bit more special? <br>

                    When it comes to show plates the only limit is your imagination and we can provide fully customised
                    plates to meet your exact requirements. Our plate builder has a wide range of options but you can
                    also contact us and tell us your exact requirements. We will be happy to discuss your needs and help
                    you to achieve the exact look that you are dreaming of! <br>
                    Show plates are not to be used on the road and therefore do not have to conform to the strict laws
                    and regulations that govern displaying registration numbers. This does not mean that you compromise
                    on quality when you buy show plates from Auto Plates Direct as we use only the best available
                    products and these meet or exceed British standards for number plates.
                </p>
            </div>
            <h4 class="col-12 bg-danger font-class text-white p-2 mt-5 mb-5">
                Number Plate Designs
            </h4>
            <div class="general-about">
                <h4 class="col-12">
                    LOGOS, PICTURES AND OTHER DESIGNS ON NUMBER PLATES
                </h4>
                <p class="col-12">
                    In some jurisdictions, you can include a logo or other design on a number plate but in other
                    countries such as the UK, your ability to do this on road-legal plates is fairly limited. <br>

                    We can supply show plates with the logo or design of your choice – perhaps your business logo or a
                    sports club. It can even be your own artwork. Please let us know what you would like by contacting
                    us directly. Please remember that you will need the permission of the owner of the logo beforehand
                    if it is not your own.
                </p>
            </div>
            <div class="general-about">
                <h4 class="col-12">
                    WHY DO WE HAVE VEHICLE REGISTRATION NUMBERS?
                </h4>
                <p class="col-12">
                    Every country has rules requiring the display of registration numbers on a vehicle whether it is a
                    car, truck or motorbike. France was the first country to introduce this requirement in 1893 followed
                    by Germany in 1896 and the Netherlands in 1898.
                    <br>
                    The UK was comparatively late when it enacted the Motor Car Act 1903 which introduced an official
                    vehicle register and the need to display alphanumeric plates from 1904. Registration numbers were
                    introduced so vehicles could be easily traced in the event of an accident or a breach of the law and
                    this remains the case today.
                    <br>
                    Every country now has a broadly similar system although the precise requirements vary from
                    jurisdiction to jurisdiction.
                    <br>
                    In the UK the system is administered by the <a
                        href="https://www.gov.uk/contact-the-dvla/y/vehicle-registration-and-v5c-certificates-log-books">Driver
                        and Vehicle Licensing Authority</a> (DVLA) in Swansea.
                </p>
            </div>
            <div class="general-about">
                <h4 class="col-12">
                    WHO OWNS A REGISTRATION NUMBERS?
                </h4>
                <p class="col-12">
                    In the UK vehicle registration numbers are a way of identifying vehicles and are owned by the
                    Secretary of State. This is true in most countries. Registration numbers are allocated to vehicles
                    as part of the process of registering and taxing vehicles. They do not belong to the registered
                    keeper of a vehicle. It stays with the vehicle until the vehicle is destroyed or permanently
                    exported out of the country unless the registered keeper applies to the DVLA to put it on another
                    vehicle or a retention certificate.
                    <br>
                    They are of course frequently bought and sold as people want to make their car stand out or have a
                    number that means something to them. When you buy a personalised or “private” registration number
                    you in fact buy the right to apply it to a particular vehicle. When you sell a vehicle the
                    registration number stays with the vehicle unless you apply to the DVLA (or equivalent outside of
                    the UK) to take it off and put it on another vehicle or a retention certificate.
                    <br>
                    In some jurisdictions, retention certificates are only valid for a limited time and this can be
                    quite short (e.g. 6 months) so you need to be careful!
                </p>
            </div>
            <div class="general-about">
                <h4 class="col-12">
                    REGISTRATION NUMBER FORMATS
                </h4>
                <p class="col-12">
                    Each country uses its own system and these tend to change over time. The current UK format was
                    introduced on 1 September 2001 and consists of three sections:
                <ul>
                    <li>Two letters showing where the vehicle was first registered (the memory tag)</li>
                    <li>Two numbers show when the vehicle was first registered (the age identifier)</li>
                    <li>A space and then three letters are chosen at random
                        The DVLA publishes a list of its memory tags and age identifiers.
                        <br>
                        The UK format has three benefits: <br>
                        <ol>
                            <li>A person buying a second-hand car is able to determine the year it was first registered
                                without having to look it up. This has limitations though – a car is allowed to display
                                a number plate that has an age identifier older (but not newer) than the vehicle.</li>
                            <li>In the case of a crime, witnesses are more likely to remember the initial area code
                                letters and this narrows down the investigators work significantly.</li>
                            <li>
                                The scheme should have sufficient numbers to run until 2050!</li>
                        </ol>
                    </li>
                </ul>
                </p>
            </div>
            <div class="general-about">
                <h4 class="col-12">
                    HOW DO REGISTRATION NUMBERS NEED TO APPEAR ON THE PLATE?
                </h4>
                <p class="col-12">
                    Every country has its own rules that limit the ways in which a number can appear on the plate. This
                    is so that a vehicle is easy to trace. You cannot rearrange or misrepresent the numbers and letters
                    to form names or words as they become hard to read. For example, altering the spacing between
                    numbers or letters, fixing bolts so that they change the look of letters or numbers will attract the
                    attention of the police and may result in a fine. In the UK it will also result in an MOT failure.
                    <br>
                    <strong>These rules do not apply to show plates where they are not used on the road.</strong>
                </p>
            </div>
            <div class="general-about">
                <h4 class="col-12">
                    DISPLAYING REGISTRATION NUMBERS PROPERLY
                </h4>
                <p class="col-12">
                    Every country has strict requirements governing the way in which registration numbers must appear on
                    number plates in order to be used on their roads. The UK has very detailed requirements covering
                    everything from the materials used to the size, colour and spacing of the number. In summary, number
                    plates must:
                <ul>
                    <li>Be made of a reflective material</li>
                    <li>With a white background at the front of the vehicle and a yellow background at the back</li>
                    <li>Not have a background pattern</li>
                    <li>Use black letters and numbers</li>
                    <li>Use Charles Wright 2001 font</li>
                    <li>Characters must be 79mm tall and 50mm wide (except the letter l or the number 1) with a
                        character stroke of 14mm</li>
                    <li>Characters must be spaced 11mm apart with a space of 33mm between the age identifier and the
                        random letters</li>
                    <li>From 1 September 2021 two-tone / 3D effect fonts are prohibited</li>
                </ul>
                </p>
            </div>
            <div class="general-about">
                <h4 class="col-12">

                    TRADITIONAL BLACK AND WHITE NUMBER PLATES
                </h4>
                <p class="col-12">
                    In some jurisdictions (e.g. Guernsey) modern cars may still display traditional black and white
                    plates but in most jurisdictions, these were replaced in order to make the registration number more
                    easily read in poor light.
                    <br>
                    If you have a vintage or classic car (even a modern classic) you may want the period look of black
                    and white plates. They can be ‘black and white’ but also silver or grey characters on a black plate.
                    See our selection of black metal plates.
                    <br>
                    In the UK you can still use black and white plates if your vehicle:
                <ul>
                    <li>Was made before 1 January 1973 or</li>
                    <li>It is over 40 years old provided you have applied to the DVLA and it is registered within the
                        “historic vehicles” class.</li>
                </ul>
                <br>

                This 40-year exemption date rolls forward automatically on 1 April each year.
                </p>
            </div>
            <div class="general-about">
                <h4 class="col-12">
                    WHEN DO I NEED TO REPLACE MY NUMBER PLATE?
                </h4>
                <p class="col-12">
                    Modern number plates have to conform to certain quality standards. The UK has a set of British
                    Standards covering visibility, strength and reflectivity. Auto Plates Direct only uses products that
                    meet or exceed these standards and have strict quality control requirements that ensure you are
                    buying the very best. Nevertheless, over time all number plates can become damaged or faded and this
                    can result in a failed MOT or a fine. You should check your number plate regularly to ensure that it
                    is not damaged or illegible. It’s better to be safe than sorry as you can be fined up to £1,000 in
                    the UK if your plate is illegible, cracked or chipped.
                </p>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------------- -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-3 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contactus.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
                        14 Havre des Pas, St Helier, Jersey JE2 4PU, Jersey<br>
                        United kingdom<br>
                        <i class="fa fa-phone fa-lg"></i> +44 1534 888111<br>
                        <i class="fa fa-fax fa-lg"></i> +44 1534 888111<br>
                        <i class="fa fa-envelope fa-lg"></i> <a href="mailto:info@autoplatesdirect.com">info@autoplatesdirect.com</a>
                    </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-google" href="index.html"><i
                                class="fa fa-google fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-" href="mailto:info@autoplatesdirect.com"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <p>© Copyright 2021 Auto Plates Direct</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>