<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    
    <!-- ---------------------------------------------- -->
    <div class="about-design font-class mb-5">
        <h3>BLOG</h3>
    </div>
    <!-- ------------------------------------------------ -->
    <div class="container">
        <div class="row row-content">
            <div class="general-about">
                <h4 class="col-12">
                    THE ORIGIN OF NUMBER PLATES
                </h4>
                <p class="col-12">
                    When motor vehicles first had to be registered to drive on UK roads there was no such thing as a number plate. When the UK government introduced the Highways Act 1896 as more and more cars were starting to appear on the roads, the act didn’t contain a requirement to display any sort of registration number. However, the act did include the need for vehicles to be registered with the local council and that was the precursor to the introduction of number plates. <br>
                    Interestingly, the act introduced far more than just the idea of vehicles having to be registered as it also made it compulsory for vehicles to have lights, it increased the speed limit, and it also formalised the convention of driving on the left-hand side of the road here in the UK. <br>
                    France, Germany, the Netherlands and even the USA introduced actual physical number plates for vehicles before we were required to have them here in the UK. The French were first with number plates in 1893, Germany was next in 1896 and the Netherlands followed suit a couple of years later. The USA got in on the act in 1901 but the UK didn’t start to require number plates on vehicles until 1903.
                </p>
            </div>
            <div class="general-about">
                <h4 class="col-12">
                    FIRST NUMBER PLATES IN UK
                </h4>
                <p class="col-12">
                    The requirement for vehicles to display physical number plates came as part of the Motor Car Act of 1903 and it probably won’t come as much of a surprise that the first plate issued in the UK was A1. A gentleman called Earl Russell queued outside the offices of the London Council all night to get that first plate, but there was more to the number than just the first letter in the alphabet and the number one. <br>
                    
Right from the start, there was a method behind the numbering system. These first plates followed a system that used a letter or a pair of letters at the start of the plate that represented the area where the vehicle was registered. In those days the letter A was assigned to London, B represented Lancashire, C was for the West Riding of Yorkshire got C and so it went on. <br>

A problem with the system started to appear as motor vehicles became more and more popular and it became obvious that the numbering system wasn’t going to have enough possible combinations to meet demand. The first move was to use two-letter area codes instead of one letter codes as more parts of the country wanted to be able to register vehicles, and this saw somewhere like Worcester given AB and Hampshire got AA. This bought the system a little time but a new system with many more possible unique combinations had to be introduced.
                </p>
            </div>
            <div class="general-about">
                <h4 class="col-12">
                    NUMBER PLATES DESIGN
                </h4>
                <p class="col-12">
                    Number plates also look different today from how they looked originally. Until 1973, UK number plates had white or silver characters on a black background. But it was then decided that number plates had to have black characters on a white reflective background on the front of vehicles and black characters on a yellow reflective background on the rear of vehicles.
                </p>
            </div>
        </div>
        <div class="general-about">
            <h2 class="col-12 font-class bg-danger text-white mt-4 mb-4">
                SAY NO TO DRUGS WHILE DRIVING
            </h2>
            <div class="row row-content col-12">
                <div class="no-drugs col12 col-sm-5 align-self-center"><img src="/no_drugs.png" alt=""></div>
                <div class="col12 col-sm-1"></div>
                <div class="no-drugs col12 col-sm-5"><p>There was a time when drinking and driving wasn’t even seen as something you shouldn’t do, never mind it being illegal or socially unacceptable as it is today. Nowadays, everyone knows you shouldn’t drink and drive, but I don’t think it’s controversial to suggest that British society and even the UK laws haven’t quite got to grips with drug driving in the same way it has with drink driving.
                        <br> <br>
                    Driving under the influence of drugs can be every bit as dangerous and stupid as driving while under the influence of alcohol, but drug driving isn’t as straightforward to stop or even legislate against as driving under the influence of alcohol. Here we’re going to look at what drug driving really is and what the consequences can be.</p></div>
            </div>
            
        </div>

    </div>
    <!-- -------------------------------------------------- -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-3 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="aboutus.html">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="contactus.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
                        14 Havre des Pas, St Helier, Jersey JE2 4PU, Jersey<br>
                        United kingdom<br>
                        <i class="fa fa-phone fa-lg"></i> +44 1534 888111<br>
                        <i class="fa fa-fax fa-lg"></i> +44 1534 888111<br>
                        <i class="fa fa-envelope fa-lg"></i> <a href="mailto:info@autoplatesdirect.com">info@autoplatesdirect.com</a>
                    </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-google" href="index.html"><i
                                class="fa fa-google fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-" href="mailto:info@autolpatesdirect.com"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <p>© Copyright 202 Auto Plates Direct</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>