<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <div class="about-design font-class mb-5">
        <h3>CONTACT AUTO PLATES DIRECT</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Contact Us</h3>
                <hr>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-12 col-sm-4 offset-sm-1">
                <h5>Our Address</h5>
                <address style="font-size: 100%">
                    14 Havre des Pas, St Helier, Jersey JE2 4PU, Jersey<br>
                            United kingdom<br><br>
                    <i class="fa fa-phone"></i>: +44 1534 888111<br>
                    <i class="fa fa-fax"></i>: +44 1534 888111<br>
                    <i class="fa fa-envelope"></i>:
                    <a href="mailto:info@autoplatesdirect.com">info@autoplatesdirect.com</a>
                </address>
            </div>
            <div class="col-12 col-sm-11 offset-sm-1">
                <div class="btn-group" role="group">
                    <a href="tel: +44 1534 888111" role="button" class="btn btn-primary"><i class="fa fa-phone">
                            Call</i></a>
        
                    <a href="mailto:info@autoplatesdirect.com" role="button" class="btn btn-success"><i
                            class="fa fa-envelope"></i> E-mail</a>
                </div>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-12 mt-5">
                <h3>Send us your Feedback</h3>
            </div>
            <div class="col-12 col-md-9">
                <form action="">
                    <div class="form-group row">
                        <label for="firsname" class="col-md-2 col-form-label">First Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="firstname" name="firstname"
                                placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastname" class="col-md-2 col-form-label">Last Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="lastname" name="lastname"
                                placeholder="Last Name">
                        </div>
                    </div>
                    <!-- -------------- -->
                    <div class="form-group row">
                        <label for="telnum" class=" col-12 col-md-2 col-form-label">Contact No</label>
                        <div class=" col-5 col-md-3">
                            <input type="tel" class="form-control" id="areacode" name="areacode"
                                placeholder="Area Code">
                        </div>
                        <div class=" col-7 col-md-7">
                            <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. Number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="emailid" class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 offset-md-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="approve" id="approve" value="">
                                <label class="form-check-label" for="approve"> <strong> May We contact
                                        you?</strong></label>
                            </div>
                        </div>
                        <div class="col-md-3 offset-md-1">
                            <select class="form-control" name="" id="">
                                <option value="">Tel.</option>
                                <option value="">Email</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="feedback" class="col-md-2 col-form-label">Your Feedback</label>
                        <div class="col-md-10 offset-md-2">
                            <textarea class="form-control" id="feedback" name="feedback" rows="12"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-md-2 col-md-10">
                            <button type="submit" class="btn btn-primary">Send Feedback</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md">
            </div>
        </div>

    </div>
        <!-- ----------------------------------------------- -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-sm-2">
                        <h5>Links</h5>
                        <ul class="list-unstyled">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-7 col-sm-5">
                        <h5>Our Address</h5>
                        <address>
                            14 Havre des Pas, St Helier, Jersey JE2 4PU, Jersey<br>
                            United kingdom<br>
                            <i class="fa fa-phone fa-lg"></i> +44 1534 888111<br>
                            <i class="fa fa-fax fa-lg"></i> +44 1534 888111<br>
                            <i class="fa fa-envelope fa-lg"></i> <a href="mailto:info@autoplatesdirect.com">info@autoplatesdirect.com</a>
                        </address>
                    </div>
                    <div class="col-12 col-sm-4 align-self-center">
                        <div class="text-center">
                            <a class="btn btn-social-icon btn-google" href="index.html"><i
                                    class="fa fa-google fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-" href="mailto:info@autoplatesdirect.com"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <p>© Copyright 2021 Auto Plates Direct </p>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>