<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    <div class="bg-danger">
        <div class="container">
            <div class="row row-content font-class text-white p-2">
                <div class="delivery-time  align-self-center  d-none d-sm-block col-sm-6">
                    <h6>SAME DAY DISPATCH</h6>
                </div>
                <div class="mail-us d-none d-sm-inline col-sm-6">
                    <h6>FOR SUPPORT SEND US A MESSAGE ON: <a
                            href="mailto:info@autoplatesdirect.com">info@autoplatesdirect.com</a></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar row navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand col-sm-3" href="/"><img src="/logo.png" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-sm-9 nav-options" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/number-plate-maker">Number Plate Maker</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="plate-types.html" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Plate Types
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">4D Plates</a>
                            <a class="dropdown-item" href="#">3D Plates</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about-us">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>    

    
    